body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 16px;
}

li {
    background: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    width: 25%;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.delete {
    background-color: #f4f4f4;
    width: fit-content;
}

.delete:hover {
    background-color: #e88f8f;
    width: fit-content;
}